<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
    </div>
</div>
<hr>
<table class="table table-striped" *ngIf='clientes && clientes.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identificación</th>
            <th scope="col">Tipo Identificacion </th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Pais</th>
            <th scope="col">Departamento</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Direccion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cliente.identificacion }} </td>
            <td>{{ cliente.tipoIdentificacion }}</td>
            <td>{{ cliente.primerNombre }}</td>
            <td>{{ cliente.primerApellido }}</td>
            <td>{{ cliente.telefono}}</td>
            <td>{{ cliente.pais }}</td>
            <td>{{ cliente.departamento }}</td>
            <td>{{ cliente.ciudad }}</td>
            <td>{{ cliente.direccion}}</td>
        </tr>
    </tbody>
</table>