.nav-link {
  font-size: 120%; font-weight: 500;
  color: rgb(255, 255, 255); height: 100%;
  padding-left: 20px; padding-right: 20px;
  background: none !important;
}

.nav-link:hover {
  color: rgb(0, 132, 255);
  border-style: none;
  transition: all .3s;
}

.nav-link:active {
  color: rgb(0, 0, 0);
  border-style: none;
  transition: all ease;
}