<footer>
    <div class="container pie_de_pagina">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                    SABANA 29 19A_29<br>
                    Valledupar - Cesar / Colombia<br>
                    Teléfonos: 3045517946-3053769474<br>
                </h6>
            </div>

            <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES SOCIALES</h6>
                <div class="redes-footer">
                    <a href="http://localhost:4200/"><img src="../../assets/facebook.png"></a>
                    <a href="http://localhost:4200/"><img src="../../assets/twitter.png"></a>
                    <a href="http://localhost:4200/"><img src="../../assets/youtube.png"></a>
                    <a href="http://localhost:4200/"><img src="../../assets/instagram.png"></a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-right">
                <p class="text-muted small">Laudaris Perea - Jean Carlos Casadiego, Desarroladores Web @2020.<br> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>